/// 샘플
body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  border-radius: 10rem;
  transition: rotate(45deg);
  background: linear-gradient(to bottom, #00f 0%, #fff 100%) no-repeat;
  color: #ff0;
}